@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;800&display=swap');

// Variables
// ===============
$colorWhite: #ecf0f1;
$colorYellow: #FED531;

// Tools
// ===============
@import 'tools/reset';
@import 'tools/mixins';


// Generic
// ===============
h1 {
  font-family: "Fascinate", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: $colorWhite;
  padding-top: 3vh;
}

a, p, h2, span, li {
  font-family: "JetBrains", sans-serif;
  color: $colorWhite;
}

.container {
  width: 100%;
  padding: 1rem;
}

// Pages
// ===============
@import "pages/home";
@import "pages/films";
@import "pages/people";
@import "pages/planets";

// Modules
// ===============
@import "modules/navbar";
@import "modules/loader";
